hmtl {
  text-align: center;
}
body {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1.2rem;
  border: none;
  outline: none;
}
.nav-cont {
  background-color: #f7f9fd;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid whitesmoke;
}
a {
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600px;
}

.animation-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
button {
  background-image: linear-gradient(to right, #4169e1, #001e79);
  padding: 5px 25px;
  border-radius: 8px;
  color: white;
  font-weight: 600px;
  font-family: inherit;
  margin-top: 0.3em;
  margin-bottom: 1rem;
}
